
#principal-container {
    position: relative;
    width: 100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(../assets/brownie.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


.social-media{
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: .6rem;
}

.media-text {
    width: 59vw;
    display: flex;
    justify-content: end;
    color: wheat;
    gap: .7rem;
}



.navBar-container  {
    position: absolute;
    top: 2rem;
}



.text-container {
    width: 59vw;
    height: 34vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;

    color: rgb(255, 255, 255);

}

.text-container >span {
    font-size: 1em;
    opacity: .8;
    font-family: "Bebas Neue", serif;

}



.text-container >h1 {
    font-size: 5em;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
