/* Estilos básicos do carrossel */
.carrousel {
  width: 100vw;
  cursor: grab;
  padding: 30px 0;

}

/* Container das imagens */
.carrousel-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}


.carrousel-img-slider{
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

.carrousel-img-slider img{
  width: 100%;
}

/* Adiciona estado de clique no carrossel */
.carrousel:active {
  cursor: grabbing;
}

